*{
    margin: 0;
    padding: 0;
}
.top{

    z-index: 9;
    
    padding:20px 50px 5px;
    box-shadow: 0px 3px 65px 0px rgba(172, 148, 148, 0.15);
    display: flex;
    background-color: #a24d8a ;
    height: 110px;
}
.logo{
    
    float: left;
    margin-top: 10px;
    margin-top: 10;
    width:50%;
    }
.logo h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.menu-bar{
    float: right;
    width: 50%;
    margin-top: 0;
    padding: 23px;
}

.menu-bar  a{
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    color: rgb(47, 238, 255);
    font-weight: bold;
    font-family: cosmic,sans-serif;
    font-size: 27px;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: white;
    padding: 5px;
}
.menu-bar   a:hover{
    color: skyblue;
    background-color: #4C151D ;
    transition: all 1s ease;
}
.center{
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
}
.image{
    width: 20%;
    height: 700px;
    margin-right: 0;
    padding-rigtt: 0;

}
.image img{
    padding-right: 0;
    margin-right: 0;
    width: 500px;
}
.content{
    width: 40%;
    height: 500px;
}
.content h2{
    text-align: center;
    background-color:#a24d7f ;
    width: 210px;
    margin-left: 190px;
    padding: 10px;
    margin-top: 150px;
    color : ghostwhite;
    border-radius: 20px;
    font-size: 20px;
}
.content h1{
    text-align: center;
    background-color:#4d99a2 ;
    width: 400px;
    margin-left: 100px;
    padding: 10px;
    margin-top: 20px;
    color : ghostwhite;
    border-radius: 20px;
     font-size: 50px;
    }
.content h3{
   text-align: center;
    background-color:#a28e4d ;
    width: 450px;
    margin-left: 80px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    color : ghostwhite;
    }

.content button{

    background-color:rgb(226, 156, 43);
    margin-left: 220px;
    margin-top: 30px;
    height: 40px;
    width: 100px; 
    color: white;
    font-size: 15px;
}    

    
footer{
    background-color:#4d99a2 ;
}

footer .social{
    text-align: center;


}
footer .social h2{
    padding-top: 80px;
    color: white;
    font-size: 30px;
    font-family: cosmic, sans-serif;
    

}
footer .social a{
    font-size: 25px;
    text-decoration: none;
    margin-top: 30px;
    padding : 15px;
}
footer .social a i{
    font-size: 25px;
    text-decoration: none;
    margin-top: 30px;
    padding : 15px;
    color: white;
}

footer .social a i: hover{
    color: black;
}
footer .social p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 60px;
}